@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.drive {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
  max-width: 1080px;
  margin: 0 auto;

  @include onTablet {
    padding: 48px;
  }

  @include onLaptop {
    padding: 60px;
  }

  @include onDesktop {
    padding: 80px;
  }

  &__title {
    margin-bottom: 16px;
    font-family: var(--font-monserrat);
    font-size: 34px;
    line-height: 38px;
    font-weight: 500;
    color: $black;
    letter-spacing: -1.2px;
  }

  &__text {
    margin-bottom: 32px;
    font-family: var(--font-monserrat);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: $black;
    letter-spacing: 0.32px;
  }

  &__delete-icon {
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 2px;  
      right: 6px;
      width: 40px;
      height: 40px;
      border: 2px solid #c9c9c9;
      border-radius: 50%;
      cursor: pointer;
      
      @include onTablet {
        right: 20px;
      }
    }

    width: 24px;
    height: 24px;
    background-image: url('../../../../img/icons/delete-icon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    height: 40px;
    border: 2px solid $blue;
    border-radius: 20px;
    cursor: pointer;

    @include onTablet {
      width: 172px;
      height: 32px;
    }

    &-icon {
      margin-right: 16px;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../../../../img/icons/plus-icon-skinny.svg');

      @include onTablet {
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
    }

    &-text {
      font-size: 16px;
      color: $blue;

      @include onTablet {
        font-size: 14px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(110, 110, 110, 0.5);
    }

    &-title {
      width: 33.33%;
      padding: 0 16px;
      font-family: var(--font-monserrat);
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 1.2px;
      color: $black;

      @include onTablet {
        padding: 0 20px
      }

      &--second {
        width: 66.66%;
      }
    }

    //one third for item two thirds for -dates simbling
    &-item {
      position: relative;
      width: 33.33%;
      padding-right: 10px;

      &--date {
        width: 72%;

        @include onTablet {
          width: 44%;
        }
      }
    }

    &-permit {
      position: relative;
      display: flex;
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(110, 110, 110, 0.5);
    }

    &-dates {
      gap: 12px;
      display: flex;
      flex-direction: column;
      width: 66.66%;

      @include onTablet {
        gap: 0px;
        flex-direction: row;
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 707px;
    flex-basis: 0;
    flex-grow: 1;

    @include onTablet {
      max-width: 220px;
    }
  }

  &__input {
    height: 42px;
    width: 100%;
    padding: 0 20px;
    background-color: $white-gray;
    border-radius: 30px;
    border: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: $black;

    &:focus {
      outline: none;
    }
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: $black;
    cursor: pointer;

    &-left {
      display: flex;
      align-items: center;
    }
    
    &-arrow {
      width: 10px;
      height: 6px;
      background-image: url('../../../../img/icons/arrow-down-black.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__category-dropdown {
    padding: 0 4px;

    @include onTablet {
      padding: 0 14px
    }
  }

  &__date-dropdown {
    position: relative;
    padding: 0 4px;

    @include onTablet {
      padding: 0 14px
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 0px;
    right: 0px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    height: 140px;
    flex-grow: 1;
    background-color: $white-gray-2;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;

    &--level {
      height: 150px;
    }

    &--active {
      display: flex;
    }
    
    &-input {
      margin-bottom: 2px;
      border: none;
      height: 26px;
      padding: 0 10px;
      border-radius: 8px;
      flex-shrink: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      color: $black;
      border: 1px solid $gray;

      &:focus {
        outline: none;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      color: $black;
      cursor: pointer;
      // transition: transform 0ms;

      &:hover {
        background-color: $white-gray;
        transition: transform 400ms;
        padding-left: 2px;
      }
    }
  } 
}