@import '../../../styles/vars';
@import '../../../styles/mixins';

.signupcandidate {
  display: flex;
  justify-content: center;
  gap: 50px;

  &__divider {
    display: none;
    border-right: 2px solid $white-gray;
    margin-top: 40px;


    @include onDesktopLarge {
      display: flex;
    }
  }

  &__login {
    display: none;

    @include onDesktopLarge {
      display: flex;
    }
  }
}